body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke !important;
}

.app-container {
  width: 70vh;
  border-radius: 5px;
  border: 0.1px solid lightseagreen;
  background-color: #ffffff80;
}

.login {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  border: 1px solid #0000004f;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}
input:focus {
  outline: none;
}

button {
  width: 60%;
  padding: 10px;
  background-color: lightseagreen;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.username {
  font-weight: bold;
  color: lightseagreen;
}

h2{
  margin-bottom: 30px;
  background-color: lightseagreen;
  color: white;
  //padding: 3px 5px;
  border-radius: 5px;
}